
.App{
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
}

.transaction--container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}

input{
  background-color: #ffffff;
  width: 500px;
  height: 50px;
  border: none;
  padding-left: 10px;
}

select{
  width: 510px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  padding-left: 10px;
}

button{
  width: 300px;
  height: 50px;
  background-color: #FFDCB6;
  border: 2px solid #FFDCB6;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 20px;

}

.displayContainer{
  background-color: #FFDCB6;
  width: 500px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

hr{
  margin: 0;
  border: 1px solid #ffffff;
}